@font-face {
    font-family: 'CustomBSPFont';
    src: url('assets/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'CustomBSPFont', sans-serif;
  }

/* Header style */
header {
    background: url('assets/header-texture.png') repeat; /* Texture repeats in both directions */
    background-size: 160px 80px;
    color: white;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
	
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 15px;
    background: #f794e0;
    transition: 0.3s;
}



/* Buttons */
button {
    background: #6E2C88;
    color: white;
    border: 3px solid #f794e0;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    background: #f9c667;
    transform: scale(1.1);
}

.content-box {
    border: 5px solid #6E2C88;
    border-radius: 15px;
	background: linear-gradient(to bottom, #F5B0EA, #505D9A);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.content-box h2 {
    color: #ffffff;
    margin-bottom: 10px;
	font-weight: normal;
}

.content-box p {
    color: #ffffff;
	font-weight: normal;
}

.side-image {
    position: absolute;
    left: 10px;
    top: 25%;
    transform: translateY(-50%);
    max-width: 500px;
	animation: jump 1s infinite ease-in-out; /* Apply the animation */
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0); /* Start and end at the same position */
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
}

.kul-image {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    max-width: 350px;
	animation: jump 1s infinite ease-in-out; /* Apply the animation */
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0); /* Start and end at the same position */
  }
  50% {
    transform: translateY(-15px); /* Move up by 20px */
  }
}